<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649638830054-fo5nvffl4kjrtg904ss7tiu80qvduc9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649638830054-fo5nvffl4kjrtg904ss7tiu80qvduc9f</string>
	<key>API_KEY</key>
	<string>AIzaSyAXnF8-vWa5n4m4y_CiEsFHdB_YUCULKD0</string>
	<key>GCM_SENDER_ID</key>
	<string>649638830054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasko</string>
	<key>PROJECT_ID</key>
	<string>tasko-9d2f5</string>
	<key>STORAGE_BUCKET</key>
	<string>tasko-9d2f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649638830054:ios:ae1046c33d2c2463a10027</string>
</dict>
</plist>